@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 252, 248, 238;
        --text: 0, 0, 0;
        --text-inversed: 255, 255, 255;
    }

    .dark {
        --background: 3, 7, 17;
        --text: 255, 255, 255;
        --text-inversed: 0, 0, 0;
    }

    * {
        @apply m-0 p-0 box-border font-roboto-flex;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply bg-[rgb(var(--background))] transition-colors;
    }
}

@layer components {
    .checkbox-wrapper input[type="checkbox"] {
        @apply invisible hidden;
    }

    /* The switch - the box around the slider */
    .checkbox-wrapper .switch {
        --width-of-switch: 3.5em;
        --height-of-switch: 2em;
        /* size of sliding icon -- sun and moon */
        --size-of-icon: 1.4em;
        /* it is like a inline-padding of switch */
        --slider-offset: 0.3em;
        @apply relative w-[var(--width-of-switch)] h-[var(--height-of-switch)] block;
    }
    
    /* The slider */
    .checkbox-wrapper .slider {
        @apply absolute cursor-pointer inset-0 bg-slate-100 duration-[.4s] rounded-[30px];
        box-shadow: inset 0 0 8px #0002;
    }
    
    .checkbox-wrapper .slider:before {
        @apply absolute content-[""] h-[var(--size-of-icon)] w-[var(--size-of-icon)] rounded-[20px] left-[var(--slider-offset)];
        @apply top-1/2 -translate-y-1/2 bg-[linear-gradient(40deg,#ff0080,#ff8c00_70%)] duration-[.4s];
    }
    
    .checkbox-wrapper input:checked + .slider {
        @apply bg-[#303136];
        box-shadow: inset 0 0 8px #fff2;
    }
    
    .checkbox-wrapper input:checked + .slider:before {
        @apply left-[calc(100%_-_(var(--size-of-icon)_+_var(--slider-offset)))] bg-[linear-gradient(40deg,#303136,#303136)];
        /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
        box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
    }
    .video-section-header {
        font-size: clamp(3rem, 6vw, 6rem);
        text-shadow: 0 1px 5px #0008;
        line-height: clamp(3rem, 6vw, 6rem);
        margin-bottom: 1rem;
    }
    .video-section-description {
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        text-shadow: 0 1px 5px #0008;
    }
    .trusted-brand-section {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http:\/\/www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23808080' fill-opacity='0.1' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
    }
    .section-header {
        font-size: clamp(3rem, 6vw, 6rem);
        @apply font-source-serif;
    }
    .section-body {
        font-size: clamp(0.95rem, 2vw, 1.125rem);
        @apply font-source-serif;
    }
    .video-description {
        scale: 0.6;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.5s ease 0.2s;
    }
    .video-description.appear {
        scale: 1;
        opacity: 1;
        transform: translateY(0);
    }
    #background-about {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http:\/\/www.w3.org/2000/svg' version='1.1' xmlns:xlink='http:\/\/www.w3.org/1999/xlink' xmlns:svgjs='http:\/\/svgjs.dev/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3cpath d='M252.37 641.65C423.81 634.46 536.71 359.74 873.34 349.27 1209.96 338.8 1328.83 123.31 1494.3 119.67' stroke='rgba(0%2c0%2c0%2c0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M259.64 582.01C374.21 579.04 471.61 414.63 686.37 414.47 901.12 414.31 899.73 484.47 1113.09 484.47 1326.46 484.47 1431.71 414.7 1539.82 414.47' stroke='rgba(0%2c0%2c0%2c0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M882.71 659.71C1008.41 571.24 925.03 122.42 1157.24 109.53 1389.45 96.64 1565.91 226.47 1706.29 227.13' stroke='rgba(0%2c0%2c0%2c0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M475.77 585.39C602.41 569.11 671.97 281.89 884.81 279.55 1097.65 277.21 1089.33 349.55 1293.85 349.55 1498.37 349.55 1599.14 279.8 1702.89 279.55' stroke='rgba(0%2c0%2c0%2c0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M679.32 604.64C819.52 587.98 875.09 291.41 1137.24 274.12 1399.39 256.83 1471.76 92.76 1595.16 89.32' stroke='rgba(0%2c0%2c0%2c0.2)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-size: cover;
        background-repeat: no-repeat;
    }
    body.dark #background-about {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http:\/\/www.w3.org/2000/svg' version='1.1' xmlns:xlink='http:\/\/www.w3.org/1999/xlink' xmlns:svgjs='http:\/\/svgjs.dev/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3cpath d='M252.37 641.65C423.81 634.46 536.71 359.74 873.34 349.27 1209.96 338.8 1328.83 123.31 1494.3 119.67' stroke='rgba(255%2c255%2c255%2c0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M259.64 582.01C374.21 579.04 471.61 414.63 686.37 414.47 901.12 414.31 899.73 484.47 1113.09 484.47 1326.46 484.47 1431.71 414.7 1539.82 414.47' stroke='rgba(255%2c255%2c255%2c0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M882.71 659.71C1008.41 571.24 925.03 122.42 1157.24 109.53 1389.45 96.64 1565.91 226.47 1706.29 227.13' stroke='rgba(255%2c255%2c255%2c0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M475.77 585.39C602.41 569.11 671.97 281.89 884.81 279.55 1097.65 277.21 1089.33 349.55 1293.85 349.55 1498.37 349.55 1599.14 279.8 1702.89 279.55' stroke='rgba(255%2c255%2c255%2c0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M679.32 604.64C819.52 587.98 875.09 291.41 1137.24 274.12 1399.39 256.83 1471.76 92.76 1595.16 89.32' stroke='rgba(255%2c255%2c255%2c0.2)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
    #contact {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='none'%3e%3c/rect%3e%3cpath d='M0%2c309.49C58.136%2c304.252%2c114.857%2c286.336%2c161.26%2c250.926C205.529%2c217.144%2c233.126%2c167.608%2c253.725%2c115.872C273.539%2c66.108%2c271.317%2c13.428%2c277.029%2c-39.831C284.831%2c-112.577%2c338.681%2c-196.767%2c293.419%2c-254.249C248.811%2c-310.901%2c153.267%2c-266.075%2c83.765%2c-285.277C15.927%2c-304.019%2c-37.18%2c-372.499%2c-107.149%2c-364.917C-179.138%2c-357.116%2c-249.636%2c-309.597%2c-283.321%2c-245.499C-315.863%2c-183.575%2c-266.497%2c-108.974%2c-277.923%2c-39.959C-289.746%2c31.455%2c-371.329%2c90.738%2c-350.465%2c160.052C-330.011%2c228.004%2c-246.36%2c253.936%2c-181.083%2c281.77C-123.751%2c306.216%2c-62.075%2c315.083%2c0%2c309.49' fill='rgba(51%2c 51%2c 51%2c 0.1)'%3e%3c/path%3e%3cpath d='M1440 1061.363C1565.893 1083.295 1689.795 1180.6219999999998 1808.599 1133.551 1927.433 1086.469 1999.652 953.1320000000001 2027.8400000000001 828.4580000000001 2054.112 712.2570000000001 1982.5059999999999 601.871 1955.017 485.952 1930.432 382.278 1940.446 267.165 1874.83 183.21800000000002 1807.967 97.67599999999999 1694.575 73.66199999999998 1596.443 27.20500000000004 1478.61-28.577999999999975 1369.78-138.837 1241.3029999999999-116.70000000000005 1112.3220000000001-94.476 1010.352 20.385999999999967 953.057 138.06099999999998 900.776 245.43900000000002 943.906 369.625 946.379 489.028 948.408 586.992 931.74 684.646 966.2760000000001 776.343 1002.369 872.173 1057.883 965.26 1145.628 1018.052 1232.369 1070.241 1340.271 1043.989 1440 1061.363' fill='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-size: cover;
        background-repeat: no-repeat;
    }
    body.dark #contact {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='none'%3e%3c/rect%3e%3cpath d='M0%2c309.49C58.136%2c304.252%2c114.857%2c286.336%2c161.26%2c250.926C205.529%2c217.144%2c233.126%2c167.608%2c253.725%2c115.872C273.539%2c66.108%2c271.317%2c13.428%2c277.029%2c-39.831C284.831%2c-112.577%2c338.681%2c-196.767%2c293.419%2c-254.249C248.811%2c-310.901%2c153.267%2c-266.075%2c83.765%2c-285.277C15.927%2c-304.019%2c-37.18%2c-372.499%2c-107.149%2c-364.917C-179.138%2c-357.116%2c-249.636%2c-309.597%2c-283.321%2c-245.499C-315.863%2c-183.575%2c-266.497%2c-108.974%2c-277.923%2c-39.959C-289.746%2c31.455%2c-371.329%2c90.738%2c-350.465%2c160.052C-330.011%2c228.004%2c-246.36%2c253.936%2c-181.083%2c281.77C-123.751%2c306.216%2c-62.075%2c315.083%2c0%2c309.49' fill='rgba(204%2c 204%2c 204%2c 0.1)'%3e%3c/path%3e%3cpath d='M1440 1061.363C1565.893 1083.295 1689.795 1180.6219999999998 1808.599 1133.551 1927.433 1086.469 1999.652 953.1320000000001 2027.8400000000001 828.4580000000001 2054.112 712.2570000000001 1982.5059999999999 601.871 1955.017 485.952 1930.432 382.278 1940.446 267.165 1874.83 183.21800000000002 1807.967 97.67599999999999 1694.575 73.66199999999998 1596.443 27.20500000000004 1478.61-28.577999999999975 1369.78-138.837 1241.3029999999999-116.70000000000005 1112.3220000000001-94.476 1010.352 20.385999999999967 953.057 138.06099999999998 900.776 245.43900000000002 943.906 369.625 946.379 489.028 948.408 586.992 931.74 684.646 966.2760000000001 776.343 1002.369 872.173 1057.883 965.26 1145.628 1018.052 1232.369 1070.241 1340.271 1043.989 1440 1061.363' fill='rgba(255%2c 255%2c 255%2c 0.1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
    
    #top-line,
    #bottom-line,
    #middle-line {
        @apply origin-center transition-all duration-[250ms] ease-in-out;
        transform-box: fill-box;
    }

    svg#hamburger {
        #top-line,
        #down-line {
            @apply translate-y-0;
        }
        #middle-line {
            @apply opacity-100 scale-100;
        }
    }
    
    svg#hamburger.closed {
        #top-line {
            @apply translate-y-[10px] -rotate-45 scale-90;
        }
        #bottom-line {
            @apply -translate-y-[10px] rotate-45 scale-90;
        }
        #middle-line {
            @apply opacity-0 scale-0;
        }
    }

    .card-section>::before,
    .card-section>::after {
        @apply translate-x-0 translate-y-0 opacity-0;
    }
    .card-section>.inview>div {
        @apply scale-110 text-black bg-sky-200 border-sky-200;
    }
    .card-section>.inview::before {
        @apply -translate-x-8 translate-y-8 opacity-100;
    }
    .card-section>.inview::after {
        @apply translate-x-8 -translate-y-8 opacity-100;
    }
    .features-background {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.05'%3E%3Cpath fill='%234b4b4b' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23474747' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23434343' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%233f3f3f' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%233b3b3b' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23333333' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%232a2a2a' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23222222' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23191919' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23111111' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
    body.dark .features-background {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.04'%3E%3Cpath fill='%23b4b4b4' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23b8b8b8' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23bcbcbc' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23c0c0c0' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23C4C4C4' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23cccccc' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23d5d5d5' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23dddddd' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e6e6e6' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23EEEEEE' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    }
    .feature-grid {
        @apply aspect-square w-full bg-cyan-500 flex flex-col gap-4 items-center justify-center rounded-xl text-center p-4 hover:scale-110 transition-all;
    }


    .checkbox-wrapper-3 input[type="checkbox"] {
        @apply invisible hidden;
    }

    .checkbox-wrapper-3 .toggle {
        @apply relative block size-full cursor-pointer transform-gpu translate-x-0 translate-y-0;
        -webkit-tap-highlight-color: transparent;
    }
    .checkbox-wrapper-3 .toggle:before {
        @apply content-[''] relative top-[0.15em] left-[0.15em] w-[1.7em] h-[0.7em] block bg-[#9a9999] rounded-[0.4em];
        transition: background 0.2s ease;
    }
    .checkbox-wrapper-3 .toggle span {
        @apply absolute top-0 left-0 size-[1em] block bg-white rounded-[0.5em];
        box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
        transition: all 0.2s ease;
    }
    .checkbox-wrapper-3 .toggle span:before {
        @apply content-[''] absolute block -m-[0.9em] size-[2.8em] bg-[rgba(79,_46,_220,_0.5)] rounded-[50%] scale-0 opacity-100 pointer-events-none;
    }

    .checkbox-wrapper-3 #cbx-3:checked + .toggle:before {
        @apply bg-[rgb(122,180,218)];
    }
    .checkbox-wrapper-3 #cbx-3:checked + .toggle span {
        @apply bg-[rgb(46,165,220)] translate-x-[1em];
        transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
        box-shadow: 0 3px 8px rgba(46, 165, 220, 0.2);
    }
    .checkbox-wrapper-3 #cbx-3:checked + .toggle span:before {
        @apply scale-100 opacity-0;
        transition: all 0.4s ease;
    }

    @keyframes animateGlow {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 200% 50%;
        }
    }
}